        .banner
            .container.banner__container
                .banner__caption
                    .banner__heading По яблоку в день — и доктор ненадобен.
                    .banner__details По сравнению с другими фруктами и овощами яблоки содержат не так много витамина C, но при этом богаты другими антиоксидантами.
                    .banner__button.btn-sm.btn-primary подробнее


        .container
            .lay-radius
                h2.main-heading Преимущества яблок

                .grid-2
                    .section-preview
                        .section-preview__item-pict.pict-bordered
                            img(src="./img/adv1.png", title="", alt="")
                        p.section-preview__item-heading Уменьшают риск заболеть
                        p.section-preview__item-details В связи с высоким содержанием клетчатки в зеленых яблоках, сокращается риск заболеть раком толстой и прямой кишки.
                    .section-preview
                        .section-preview__item-pict.pict-bordered
                            img(src="./img/adv2.png", title="", alt="")
                        p.section-preview__item-heading Контролируют аппетит
                        p.section-preview__item-details Зеленые яблоки вызывают ощущение сытости, так что ты сможешь перестать переедать, употребляя их.
                    .section-preview
                        .section-preview__item-pict.pict-bordered
                            img(src="./img/adv3.png", title="", alt="")
                        p.section-preview__item-heading Улучшают пищеварение
                        p.section-preview__item-details Этот фрукт улучшает пищеварение, потому что в нем есть органические кислоты, такие как яблочная, аскорбиновая, винная, борная и лимонная.
                    .section-preview
                        .section-preview__item-pict.pict-bordered
                            img(src="./img/adv4.png", title="", alt="")
                        p.section-preview__item-heading Стимулируют прилив жизненных сил
                        p.section-preview__item-details Зеленые яблоки дают человеку большой заряд энергии. Они содержат много углеводов, что очень хорошо для людей, которые занимаются спортом или ведут активный образ жизни.
                    .section-preview
                        .section-preview__item-pict.pict-bordered
                            img(src="./img/adv5.png", title="", alt="")
                        p.section-preview__item-heading Снижают кровяное давление
                        p.section-preview__item-details В зеленых яблоках присутствует много калия и магния. Эти два минерала необходимы для регулирования кровяного давления.
                    .section-preview
                        .section-preview__item-pict.pict-bordered
                            img(src="./img/adv6.png", title="", alt="")
                        p.section-preview__item-heading Очищают кожу
                        p.section-preview__item-details Яблоки издавна используются как очищающее средство, которое обладает вяжущими, антисептическими, отбеливающими и увлажняющими свойствами.


        .bg-white.wall-element
            .wall-element__content

            .container.pos-rel

                h2.main-heading 100 грамм яблок содержит

                .grid-4.tx-center.m-100

                    div
                        .total-count 0,26
                            span.total-count__unit гр
                        span Белка

                    div
                        .total-count 13,81
                            span.total-count__unit гр
                        span Углеводов

                    div
                        .total-count 0,17
                            span.total-count__unit гр
                        span Жиров

                    div
                        .total-count 24
                            span.total-count__unit гр
                        span Пищевых волокон



                h2.main-heading Пищевая ценность

                table(width="100%", border="0").base-table.m-100
                    thead
                        tr
                            th(width="480") Тип
                            th Пищевая ценность
                            th Витамины
                            th Вещества
                            th Доля
                    tbody
                        tr(data-title="Белки").table-title-drop.table-title-drop_open
                            td.table-desc
                                .table-title Белки
                                .clr-gray.m-20 Так же как и другие биологические макромолекулы белки являются компонентами всех живых организмов и играют важную роль в жизнедеятельности клетки.
                                a(href="#", title="").a-primary Подробнее
                            td(data-label="Пищевая ценность").table-value 0,26 г
                            td(data-label="Витамины").table-value Ретинол
                            td(data-label="Вещества").table-value Кальций
                            td(data-label="Доля").table-value 70%
                        tr(data-title="Жиры").table-title-drop
                            td.table-desc
                                .table-title Жиры
                                .clr-gray.m-20 В растениях жиры содержатся в сравнительно небольших количествах, за исключением семян масличных растений, в которых содержание жиров может быть более 50 %.
                                a(href="#", title="").a-primary Подробнее
                            td(data-label="Пищевая ценность").table-value 0,17 г
                            td(data-label="Витамины").table-value Тиамин
                            td(data-label="Вещества").table-value Железо
                            td(data-label="Доля").table-value 50%
                        tr(data-title="Углеводы").table-title-drop
                            td.table-desc
                                .table-title Углеводы
                                .clr-gray.m-20 Источником углеводов для всех живых организмов является процесс фотосинтеза, осуществляемый растениями.
                                a(href="#", title="").a-primary Подробнее
                            td(data-label="Пищевая ценность").table-value 13,81 г
                            td(data-label="Витамины").table-value Токоферол
                            td(data-label="Вещества").table-value Магний
                            td(data-label="Доля").table-value 35%


                h2.main-heading Крупнейшие производители яблок

                .map
                    img(src="./img/map.svg" title="" alt="").map__content

                    .m-80
                        .grid-4
                            .section-icon
                                img(src="./../img/flag-china.png").section-icon__left
                                .section-icon__title КНР
                                .section-icon__value 27 507 000 т

                            .section-icon
                                img(src="./../img/flag-turkey.png").section-icon__left
                                .section-icon__title Турция
                                .section-icon__value 2 266 437 т

                            .section-icon
                                img(src="./../img/flag-france.png").section-icon__left
                                .section-icon__title Франция
                                .section-icon__value 1 800 000 т

                            .section-icon
                                img(src="./../img/flag-africa.png").section-icon__left
                                .section-icon__title ЮАР
                                .section-icon__value 27 507 000 т
                            .section-icon
                                img(src="./../img/flag-europa.png").section-icon__left
                                .section-icon__title Европейский союз
                                .section-icon__value 11 973 500 т

                            .section-icon
                                img(src="./../img/flag-russia.png").section-icon__left
                                .section-icon__title Россия
                                .section-icon__value 2 211 000 т

                            .section-icon
                                img(src="./../img/flag-chili.png").section-icon__left
                                .section-icon__title Чили
                                .section-icon__value 1 390 000 т

                            .section-icon
                                img(src="./../img/flag-mexico.png").section-icon__left
                                .section-icon__title Мексика
                                .section-icon__value 860 000 т


